# UniversalExpressionParser

**NOTE: This is a short summary of UniversalExpressionParser. For more complete documentation reference https://universalexpressionparser.readthedocs.io/en/latest/summary.html.

<IncludedFilePlaceHolder>UniversalExpressionParser.Tests\Demos\DemoExpressions\README-SUMMARY.md</IncludedFilePlaceHolder>