===============
Error Reporting
===============

.. contents::
   :local:
   :depth: 2
   
Parse error data is stored in property **UniversalExpressionParser.IParseErrorData ParseErrorData { get; }**. 
The class **UniversalExpressionParser.IParseErrorData** has a property **IReadOnlyList<UniversalExpressionParser.IParseErrorItem> AllParseErrorItems { get; }** that stores data on all parse errors.

.. raw:: html

    <a href="https://github.com/artakhak/UniversalExpressionParser/blob/main/UniversalExpressionParser/IParseErrorItem.cs"><p class="codeSnippetRefText">Click here to see the definition of UniversalExpressionParser.IParseErrorItem</p></a>

The extensions class **UniversalExpressionParser.ParseExpressionResultExtensionMethods** has number of helper methods, among which is **string GetErrorTextWithContextualInformation(this IParsedExpressionResult parsedExpressionResult, int parsedTextStartPosition, int parsedTextEnd, int maxNumberOfCharactersToShowBeforeOrAfterErrorPosition = 50)** for returning a string with error details and contextual data (i.e., text before and after the position where error happened, along with arrow pointing to the error). 

.. raw:: html

    <a href="https://github.com/artakhak/UniversalExpressionParser/blob/main/UniversalExpressionParser/ParseExpressionResultExtensionMethods.cs"><p class="codeSnippetRefText">Click here to see the definition of UniversalExpressionParser.ParseExpressionResultExtensionMethods</p></a>

- Below is an expression which has several errors:

.. sourcecode::
     :linenos:
     
     <IncludedFilePlaceHolder>ExpressionWithErrors.expr</IncludedFilePlaceHolder>

.. raw:: html

    <a href="https://github.com/artakhak/UniversalExpressionParser/blob/main/UniversalExpressionParser.Tests/Demos/DemoExpressions/ErrorReporting/ExpressionWithErrors.parsed"><p class="codeSnippetRefText">Click here to see the visualized instance of UniversalExpressionParser.IParseExpressionResult</p></a>

.. raw:: html

    <a href="https://github.com/artakhak/UniversalExpressionParser/blob/main/UniversalExpressionParser.Tests/Demos/DemoExpressions/ErrorReporting/ReportedErrorMessages.txt"><p class="codeSnippetRefText">Click to see the the error text generated by using the helper extension method UniversalExpressionParser.ParseExpressionResultExtensionMethods.GetErrorTextWithContextualInformation(...) for the errors reported by the parser for the expression above</p></a>