========
Literals
========

.. contents::
   :local:
   :depth: 2

- Literals are names that can be used either alone (say in operators) or can be  part of more complex expressions. For example literals can precede opening square or round braces (e.g., **f1** in **f1(x)**, or **m1** in **m1[1, 2]**), or code blocks (e.g., **Dog** in expression **public class Dog {}**).

- Literals are parsed into expression items of type **UniversalExpressionParser.ExpressionItems.ILiteralExpressionItem** objects.

- If literal precedes round or square braces, it will be stored in value of property **ILiteralExpressionItem Name { get; }** of **UniversalExpressionParser.ExpressionItems.IBracesExpressionItem**.

- If literal precedes a code block staring marker (e.g., **Dog** in expression **public class Dog {}**), then the code block is added to the list **UniversalExpressionParser.ExpressionItems.IComplexExpressionItem.Postfixes** in expression item for the literal (see section **Postfixes** for more details on postfixes).

- Literals are texts that cannot have space and can only contain characters validated by method **UniversalExpressionParser.IExpressionLanguageProvider.IsValidLiteralCharacter(char character, int positionInLiteral, ITextSymbolsParserState textSymbolsParserState)** in interface **UniversalExpressionParser.IExpressionLanguageProvider**. In other words, a literal can contain any character (including numeric or operator characters, a dot '.', '_', etc.), that is considered a valid literal character by method **IExpressionLanguageProvider.IsValidLiteralCharacter(...)**.


Examples of literals
====================

.. sourcecode::
     :linenos:

     <IncludedFilePlaceHolder>Literals.expr</IncludedFilePlaceHolder>


`Click here to view visualized instance of UniversalExpressionParser.IParseExpressionResult <https://github.com/artakhak/UniversalExpressionParser/blob/main/UniversalExpressionParser.Tests/Demos/DemoExpressions/Literals/Literals.parsed/>`_